body {background: #2d383a; font-family: sans-serif; /*overflow: hidden; */margin: 0; padding: 0; }
h1 {
	margin: 10px auto 0; padding: 0 0 0 10px; max-width: 780px;
}
a {color: #3D6218; }
a:visited {color: #3D6218; }
#bg {
	position: fixed; top:0; left: 0; z-index: -1;
	width: 100%; min-width: 900px;
}
#bg img {width: 100%; height: auto; display: none; }
#header {padding: 6px; background: rgba(255, 255, 255, .8); }
#header ul {margin: 0; padding: 0; position: absolute; top: 0; right: 0; }
#header ul li {list-style-type: none; padding-bottom: 0.5em; }
#header div {position: relative; margin: 0 auto; max-width: 760px; }
.article {
	max-width: 760px; /*height: 400px;*/
    margin: 15px auto 100px;
	background: rgba(255, 255, 255, .8);
	border-radius: 10px;
	padding: 10px 20px;
    /*overflow: auto;
    position: relative;*/
}
.article p {/*padding: 0 0 10px 0; *//*width: 270px; */}
div.article p {line-height: 1.4em; font-size: 17px; margin-top: 0; }
.article p img {
    position: absolute;
    top: 10px; right: 10px;
    width: 500px; height: auto;
    margin-left: 10px;
    border-radius: 10px;
}
/* div.header {padding-bottom: 30px; } */
div.header p span {white-space: nowrap; }
div.header, div.article h5 {text-align: center; }
div.article h3 {margin: 1.5em 0 0.2em; }
div.article h4 {text-align: center; font-weight: normal; }
/* Mobile layout */
@media (max-width: 420px) {
    h1 {margin: 0; padding: 0; text-align: center; }
    #header ul {text-align: center; position: static; }
    #header ul li {padding-left: 1em; display: inline; }
}
